/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/img/profil/*
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
note
/public/fonts/
/public/plugins/
/public/premium/
/public/svg/
/public/css/
/public/img/
/public/js/